.app-sub-sidebar li:before {
    content: "";
}

.search {
    border-bottom: 1px solid #eee !important;
}

.search .input-wrap {
    margin-bottom: 20px;
}

.search .results-panel.show {
    margin-left: 5px;
}

#docsify-darklight-theme {
    right: 100px;
}